.header, .header__location, .fonctionnement__liste, .fonctionnement__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fonctionnement__titre, .container__titre {
  font-weight: 600;
  padding: 40px 0px 30px 20px;
}

.header__bouton {
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  color: white;
  padding: 15px;
  border-radius: 55px;
  margin-bottom: 50px;
  -webkit-box-shadow: 5px 5px 20px #cdcdcd;
          box-shadow: 5px 5px 20px #cdcdcd;
  border: none;
}

.header__bouton--modifier {
  font-weight: 500;
  padding-inline: 50px;
  margin: 50px auto 0px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

* {
  font-family: roboto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bandetitre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
  width: 100%;
}

.header__icon {
  font-size: 22px;
  margin: 20px;
}

.header__titre {
  width: 50%;
  padding-block: 10px;
}

.header__location {
  width: 100%;
  padding-block: 20px;
  gap: 10px;
  background-color: #E5E5E5;
}

.header__reservation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F4F4F4;
}

.header__h1 {
  text-align: center;
  font-size: 25px;
  padding-inline: 25px;
  width: 350px;
}

.header__h2 {
  text-align: center;
  font-size: 17px;
  width: 300px;
  font-weight: 300;
}

.header__image {
  width: 100%;
}

.fonctionnement {
  background-color: white;
}

.fonctionnement__liste {
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  padding-inline: 30px;
  padding-bottom: 50px;
}

.fonctionnement__numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  aspect-ratio: 1/1;
  width: 25px;
  background-color: #9356DC;
  border-radius: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: -10px;
}

.fonctionnement__element {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  width: 100%;
  height: 75px;
  -webkit-box-shadow: 5px 5px 20px #cdcdcd;
          box-shadow: 5px 5px 20px #cdcdcd;
  border-radius: 20px;
  cursor: pointer;
}

.fonctionnement__element--troisieme {
  background-color: #F2E8FF;
}

.fonctionnement__icon {
  color: grey;
  padding-inline: 30px;
}

.fonctionnement__icon--troisieme {
  color: #9356DC;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F4F4F4;
  padding-bottom: 50px;
}

.container--modifier {
  position: relative;
  border-radius: 50px 50px 0px 0px;
  margin-top: -50px;
}

.container__titre {
  padding-bottom: 0px;
}

.container__titre__h2 {
  padding: 40px 0px 5px 20px;
  font-weight: 300;
  font-size: 18px;
}

.container__titre__h1 {
  font-family: shrikhand;
}

.container__ligne {
  background-color: #99E2D0;
  height: 3px;
  width: 45px;
  margin: 0px 0px 15px 20px;
}

.container__grid {
  display: -ms-grid;
  display: grid;
  padding-inline: 20px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 40px;
}

.container__cards {
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px #cdcdcd;
          box-shadow: 5px 5px 20px #cdcdcd;
  position: relative;
}

.container__cards--modifier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 20px #cdcdcd;
          box-shadow: 5px 5px 20px #cdcdcd;
}

.container__description {
  padding: 10px 0px 10px 10px;
  gap: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards__nouveau {
  position: absolute;
  padding: 5px;
  border-radius: 3px;
  background: #99E2D0;
  top: 15px;
  right: 15px;
}

.cards__image {
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 160px;
}

.cards__description {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px 0px 10px;
}

.description__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-block: 10px;
}

.description__nom {
  font-weight: 600;
}

.description__prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  font-weight: 600;
  padding: 0px 20px 10px 0px;
}

.footer {
  padding-block: 25px;
  background-color: #282828;
  color: white;
  padding-left: 15px;
}

.footer__titre {
  font-family: shrikhand;
  padding-bottom: 15px;
}

.footer__liste {
  row-gap: 5px;
  padding: 0px;
}

.footer__element {
  line-height: 22px;
}

.footer__icon {
  padding-right: 6px;
}

.footer__icon--premier {
  padding-right: 12px;
}
/*# sourceMappingURL=style.css.map */