.bouton{
    background:linear-gradient(350deg,$couleur-primaire,$couleur-secondaire);
    color:white;
    padding:15px;
    border-radius: 55px;
    margin-bottom:50px;
    box-shadow: 5px 5px 20px $gris-ombre;
    border:none;
    cursor:pointer;
    &:hover{
        background:linear-gradient(350deg,lighten($couleur-primaire,5%),lighten($couleur-secondaire,5%));
        box-shadow: 5px 5px 20px darken($gris-ombre,5%);
    }
    &--menu{
        font-weight: 500;
        padding-inline:50px;
        margin:50px auto 0px auto;
        width:fit-content;
    }
}
@media (min-width:$tablette){
    .bouton{
        scale: 1.2;
    }
}