.header{
    &__bouton{
        background: linear-gradient(350deg,$couleur-primaire,$couleur-secondaire);
        color:white;
        padding:15px;
        border-radius: 55px;
        margin-bottom:50px;
        box-shadow: 5px 5px 20px $gris-ombre;
        border:none;
        &--modifier{
            padding-inline:10px;
            margin-top: 10px;
        }
    }
}