.coeur__contenu{
    stroke: black;
    stroke-width: 25px;
    cursor: pointer;
    position: relative;

    svg {
        overflow: visible;
        width: 24px;
    }
  
    path {
        stroke-dashoffset:0;
        stroke-dasharray: 1550;
        transform-origin: center;
    }
  
    .coeur{
        &__principal{
            &--titre{
                margin:40px 30px 20px 0px;
            }
        }
    }
  
    .coeur__principal:hover path {
        animation: contour 2s ease-in-out forwards;
    }
}
.stop{
    &1{
            stop-color: $couleur-secondaire;
        }
        &2{
            stop-color:$couleur-primaire;
        }
}
  
  @keyframes contour {
    0%{
        fill:#F4F4F4;
    }
    30% {
        stroke-dashoffset: 1550;
    }
    60% {
        stroke-dashoffset: 3100;
    }
    80% {
        transform: scale(1.1);
        stroke-dashoffset: 3100;
        fill:#F4F4F4;
    }
    90% {
        transform: scale(1);
    }
    100% {
        stroke-dashoffset: 1550;
    }
  }

  @keyframes couleur_secondaire{
    90%{
        stop-color:$couleur-secondaire;
    }
    100%{
        stop-color: $couleur-secondaire;
    }
  }

  @keyframes couleur_primaire{
    90%{
        stop-color:$couleur-primaire;
    }
    100%{
        stop-color: $couleur-primaire;
    }
  }

@media (min-width:768px){
    .coeur__contenu{
        svg {
            overflow: visible;
            width: 30px;
        }
        .coeur{
            &__principal{
                &--titre{
                    margin:40px 60px 20px 0px;
                }
            }
        }
    }
}