$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;

$gris-localisation:#E5E5E5;
$gris-menu:#F4F4F4;
$gris-ombre:lighten(grey,30%);
$couleur-hover:#F2E8FF;
$couleur-footer:#282828;

$radius-cards:20px;

$decallage-glissement:-60px;