.cards{
    &__nouveau{
        position:absolute;
        font-size: 12px;
        font-weight: 500;
        padding:7px;
        border-radius: 3px;
        background:#8ADDC6;
        top:15px;
        right:15px;
        color:#157653;
    }
    &__image{
        border-radius: $radius-cards $radius-cards 0px 0px;
        object-fit:cover;
        width:100%;
        height:160px;
    }
    &__description{
        height:60px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px 0px 10px;
    }
}