.fonctionnement{
    background-color: white;
    &__liste{
        @extend .header;
        background-color: white;
        flex-direction: column;
        gap:50px;
        padding-inline: 30px;
        padding-bottom: 50px;
    }
    &__numero{
        display: flex;
        aspect-ratio: 1/1;
        width:25px;
        background-color: $couleur-primaire;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        color:white;margin:-10px;
    }
    &__element{
        @extend .header;
        justify-content: start;
        align-items: center;
        font-weight:500;
        width:100%;
        height:75px;
        box-shadow: 5px 5px 20px $gris-ombre;
        border-radius: 20px;
        cursor:pointer;
        &--troisieme{
            background-color: $couleur-hover;
        }
    }
    &__icon{
        color:grey;
        padding-inline: 30px;
        &--troisieme{
            color:$couleur-primaire;
        }
    }
}
.container{
    display: flex;
    flex-direction: column;
    background-color: $gris-menu;
    padding-bottom: 50px;
    &--modifier{
        position:relative;
        border-radius: 50px 50px 0px 0px;
        margin-top:-50px;
    }
    &__titre{
        @extend .fonctionnement__titre;
        padding-bottom:0px;
        &__h2{
            padding: 40px 0px 5px 20px;
            font-weight: 300;
            font-size: 18px;
        }
        &__h1{
            font-family:$police-logo-titre;
        }
    }
    &__ligne{
        background-color: $couleur-tertiaire;
        height:3px;
        width:45px;
        margin:0px 0px 15px 20px;
    }
    &__grid{
        display:grid;
        padding-inline: 20px;
        grid-template-columns: auto;
        gap:40px;
    }
    &__cards{
        border-radius: $radius-cards;
        box-shadow: 5px 5px 20px $gris-ombre;
        position:relative;
        &--modifier{
            display:flex;
            flex-direction:row;
            align-items: center;
            justify-content: space-between;
            border-radius: $radius-cards;
            box-shadow: 5px 5px 20px $gris-ombre;
        }
    }
    &__description{
        padding:10px 0px 10px 10px;
        gap:2px;
        display:flex;
        flex-direction:column;
    }
}
.cards{
    &__nouveau{
        position:absolute;
        padding:5px;
        border-radius: 3px;
        background:$couleur-tertiaire;
        top:15px;
        right:15px;
    }
    &__image{
        border-radius: $radius-cards $radius-cards 0px 0px;
        object-fit:cover;
        width:100%;
        height:160px;
    }
    &__description{
        height:60px;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px 0px 10px;
    }
}
.description{
    &__texte{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        padding-block: 10px;
    }
    &__nom{
        font-weight: 600;
    }
    &__prix{
        display:flex;
        align-items: flex-end;
        height:100%;
        font-weight: 600;
        padding: 0px 20px 10px 0px;
    }
}