.container{
    background-color: $gris-menu;
    padding-bottom: 100px;
    &__titre{
        @extend .fonctionnement__titre;
    }
    &__grid{
        padding-inline: 40px;
        display:grid;
        grid-template-columns: auto;
        gap:40px;
    }
    &__cards{
        display:grid;
        grid-template-rows: 400px;
        border-radius: $radius-cards;
        box-shadow: 5px 5px 20px $gris-ombre;
    }
}
.cards{
    &__image{
        border-radius: $radius-cards $radius-cards 0px 0px;
        object-fit:cover;
        width:100%;
        height:100%;
    }
    &__description{
        align-self: center;
        font-size:35px;
        display:grid;
        grid-template-columns: auto auto;
        row-gap: 5px;
    }
}
.description{
    display:grid;
    padding-left: 20px;
    &__nom{
        font-weight: 600;
        grid-column: 1;
        padding-top: 20px;
    }
    &__ville{
        grid-column: 1;
        padding-bottom: 20px;
    }
    &__icon{
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}