
.container{
    display: flex;
    flex-direction: column;
    background-color: $gris-menu;
    padding-bottom: 50px;
    z-index: 100000001;
    &--modifier{
        position:relative;
        border-radius: 50px 50px 0px 0px;
        margin-top:-50px;
        z-index: 10;
    }
    &__titreprincipal{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__titre{
        @extend .fonctionnement__titre;
        padding-bottom: 20px;
        &__h2{
            position:relative;
            padding: 40px 0px 20px 20px;
            font-weight: 300;
            font-size: 15px;
            text-transform: uppercase;
            &::after{
                content:"";
                position:absolute;
                bottom:15px;
                left:20px;
                width:30px;
                height:3px;
                background-color:$couleur-tertiaire;
            }
        }
        &__h1{
            font-family:$police-logo-titre;
            font-size: 28px;
        }
    }
    &__grid{
        display:grid;
        padding-inline: 20px;
        grid-template-columns: auto;
        gap:20px;
    }
    &__cards{
        border-radius: $radius-cards;
        box-shadow: 5px 5px 20px $gris-ombre;
        position:relative;
        &--modifier{
            display:flex;
            flex-direction:row;
            align-items: center;
            justify-content: space-between;
            border-radius:15px;
            box-shadow: 5px 5px 20px $gris-ombre;
            cursor:pointer;
            animation: 200ms ease-in calc(#{$duree-animation} + #{$delais-animation}) 1 affichage_recette;
            animation-fill-mode: both;
            @for $i from 1 through 4{
                &--#{$i}{
                    animation-delay: $duree-animation + $delais-animation* $i;
                }
            }
            &:hover > .description__animation{
                width:60px;
            }
            &:hover > .description__animation .description__icon--animation{
                //transform:rotate(360deg);
                animation:roulade 1000ms ease-in 0ms, glissade 700ms ease-in 0ms;
            }
        }
    }
    &__description{
        padding:10px 0px 10px 10px;
        gap:2px;
        display:flex;
        flex-direction:column;
    }
}

@keyframes affichage_recette{
    0%{
        transform:translateY(5px);
        opacity:0;
    }
    100%{
        opacity:1;
        transform:translateY(0px);
    }
}

@keyframes roulade{
    0%{
        transform:rotate(90deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
/*
@keyframes glissade{
    0%{
        transform:translate(40px,0px);
    }
    100%{
        transform:translate(0px);
    }
}*/