.footer{
    padding-block: 25px;
    background-color: $couleur-footer;
    color:white;
    padding-left:15px;
    &__titre{
        font-family: $police-logo-titre;
        padding-bottom:15px;
    }
    &__liste{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap:5px;
        width:100%;
    }
    &__element{
        line-height:22px;
    }
    &__icon{
        aspect-ratio: 1/1;
        width:20px;
        max-width:20px;
        margin-right:6px;
        /*&--premier{
            padding-right:12px;
        }*/
    }
}
@media (min-width:$tablette){
    .footer{
        &__liste{
            flex-direction: row;
        }
    }
}