.footer{
    padding-block: 25px;
    background-color: $couleur-footer;
    color:white;
    padding-left:15px;
    &__titre{
        font-family: $police-logo-titre;
        padding-bottom:15px;
    }
    &__liste{
        row-gap:5px;
        padding:0px;
    }
    &__element{
        line-height:22px;
    }
    &__icon{
        padding-right:6px;
        &--premier{
            padding-right:12px;
        }
    }
}