.footer{
    padding-block: 50px;
    background-color: $couleur-footer;
    color:white;
    padding-left:50px;
    font-size: 30px;
    &__titre{
        font-family: $police-logo-titre;
        padding-bottom:50px;
    }
    &__liste{
        row-gap:50px;
        padding:0px;
    }
    &__element{
        line-height:50px;
    }
    &__icon{
        padding-right:18px;
        &--premier{
            padding-right:30px;
        }
    }
}