

header{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.header{
    &__bandetitre{
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    &__icon{
        position:relative;
        left:-40px;
    }
    &__titre{
        width:50%;
        padding-block: 10px;
    }
    &__location{
        @extend .header;
        width:100%;
        padding-block: 20px;
        gap: 10px;
        background-color: $gris-localisation;
        box-shadow: inset 0px 15px 15px -10px $gris-ombre;
    }
    &__reservation{
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        gap:20px;
        padding-top: 50px;
        flex-direction: column;
        background-color: $gris-menu;
    }
    &__h1{
        text-align: center;
        font-size: 25px;
        padding-inline: 25px;
        width:350px;
    }
    &__h2{
        text-align: center;
        font-size: 17px;
        width:300px;
        font-weight: 300;
    }
    &__image{
        object-fit: cover;
        width:100%;
        height:254px;
    }
}
@media (min-width:$tablette){
    .header{
        &__titre{
            max-width: 400px;
        }
        &__icon{
            left:-90px;
        }
    }
}