
*{
    font-family: $police-texte;
    box-sizing: border-box;
    margin: 0;
    list-style-type:none;
}
a{
    text-decoration:none;
    &:visited{
        color:black;
    }
}
header{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.header{
    &__titre{
        width:50%;
    }
    &__location{
        @extend .header;
        width:100%;
        padding-block: 20px;
        gap: 10px;
        background-color: $gris-localisation;
    }
    &__reservation{
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        gap:20px;
        padding-top: 50px;
        flex-direction: column;
        background-color: $gris-menu;
    }
    &__h1{
        text-align: center;
        font-size: 25px;
        padding-inline: 25px;
        width:350px;
    }
    &__h2{
        text-align: center;
        font-size: 17px;
        width:300px;
        font-weight: 300;
    }
    &__image{
        position:absolute;
        width:100%;
        z-index: 1;
    }
}