
*{
    font-family: $police-texte;
    box-sizing: border-box;
    margin: 0;
    list-style-type:none;
}
.header{
    &__reservation{
        gap:20px;
        padding-top: 50px;
        flex-direction: column;
        background-color: $gris-menu;
        align-items: center;
    }
    &__h1{
        font-size: 45px;
        /*padding-inline: 20%;*/
    }
    &__h2{
        font-size: 35px;
        font-weight: 300;
        /*padding-inline: 10%;*/
    }
    &__bouton{
        background: linear-gradient(350deg,$couleur-primaire,$couleur-secondaire);
        color:white;
        font-size: 35px;
        padding:35px;
        width:fit-content;
        border-radius: 55px;
        margin-bottom:50px;
        box-shadow: 5px 5px 20px $gris-ombre;
        border:none;
    }
}
.navigation{
    @extend .header;
    font-size: 30px;
    padding-block: 20px;
    gap: 10px;
    background-color: $gris-localisation;
}
.fonctionnement{
    &__liste{
        @extend .header;
        flex-direction: column;
        gap:50px;
        padding-inline: 50px;
        padding-bottom: 100px;
    }
    &__element{
        @extend .header;
        justify-content: start;
        font-size:35px;
        font-weight:500;
        width:100%;
        box-shadow: 5px 5px 20px $gris-ombre;
        padding:50px 0px 50px 20px;
        border-radius: 35px;
        &:hover{
            background-color: $couleur-hover;
        }
    }
    &__icon{
        padding-inline: 40px;
    }
}