.fonctionnement{
    background-color: white;
    /*&__titre{
        margin:0 auto;
        max-width: 315px;
        width:100%;
    }*/
    &__liste{
        @extend .header;
        background-color: white;
        flex-direction: column;
        gap:50px;
        padding-inline: 30px;
        padding-bottom: 50px;
    }
    &__numero{
        display: flex;
        aspect-ratio: 1/1;
        width:25px;
        background-color: $couleur-primaire;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        color:white;margin:-10px;
    }
    &__element{
        @extend .header;
        justify-content: start;
        align-items: center;
        font-weight:500;
        width:100%;
        //max-width:315px;
        height:75px;
        box-shadow: 5px 5px 20px $gris-ombre;
        border-radius: 20px;
        margin:0 auto;
        cursor:pointer;
        &--troisieme{
            background-color: $couleur-hover;
        }
    }
    &__icon{
        color:grey;
        padding-inline: 30px;
        &--troisieme{
            color:$couleur-primaire;
        }
    }
}

