*{
    font-family: $police-texte;
    box-sizing: border-box;
    margin: 0;
    list-style-type:none;
}
a{
    text-decoration:none;
    color:black;
}
p a{
    color:white;
}
header{
    display:flex;
    flex-direction: column;
    align-items: center;
}
